{% extends "base.html" %}

{% block content %}
<div class="col-md-6" style="text-align: center">
    <form method="post" action="">
        <fieldset>
            <legend>Cadastre-se</legend>
            <label>Nome:</label>
            <input type="text" name="nome" placeholder="Nome" class="form-control">
            <label>Sobrenome:</label>
            <input type="text" name="sobrenome" placeholder="Sobrenome" class="form-control">
            <label>Email:</label>
            <input type="text" name="email" placeholder="Email" class="form-control">
            <label>Senha:</label>
            <input type="password" name="senha"  class="form-control">
        </fieldset>
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
</div>
<div class="col-md-6">
    <legend>Use uma Rede Social</legend>
    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> <br />
</div>
{% endblock content %}