{% extends "base.html" %}

{% block content %}
<div class="row well">
	<form method="post" enctype="multipart/form-data" action="" class="form-horizontal">{%csrf_token%}
		<fieldset>
		<legend>Cadastre-se</legend>
		{% if error %}
			<div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				{{error}}
			</div>
		{% endif %}
				{% for field in form %}
				<div class="form-group">
				{% if field.errors %}
					<div class="alert alert-danger">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						{{field.errors}}
					</div>
				{% endif %}
					{{field.label_tag}} 
					<div class="col-lg-10">
					{{ field }}
					</div>
				</div>
				{% endfor %}
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<input type="submit" value="Cadastrar" class="btn btn-primary">
					</div>
				</div>
		</fieldset>
	</form>
</div>

<script type="text/javascript">
	$(function(){
		$('form label').addClass('col-lg-2').addClass('control-label');
	});
</script>

{% endblock content %}