{% extends "base.html" %}

{% block content %}
<h2>Finalize seu cadastro</h2>

{% if egressoForm %}
<form method="post" action="" class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <label class="col-lg-2 control-label">Nome de Usuario</label>
            <div class="col-lg-10">
                    {{egressoForm.username}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
                    {{egressoForm.first_name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Sobrenome</label>
            <div class="col-lg-10">
                    {{egressoForm.last_name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                    {{egressoForm.email}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Telefone</label>
            <div class="col-lg-10">
                    {{egressoForm.telefone}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Link do Curriculo Lattes</label>
            <div class="col-lg-10">
                    {{egressoForm.lattes}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">é Consultor?</label>
            <div class="col-lg-10">
                    {{egressoForm.consultor}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">é Empreendedor?</label>
            <div class="col-lg-10">
                    {{egressoForm.empreendedor}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Senha:</label>
            <div class="col-lg-10">
                    {{egressoForm.senha1}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Repita a senha:</label>
            <div class="col-lg-10">
                    {{egressoForm.senha2}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" value="Cadastrar" class="btn btn-primary">
                <input type="reset" value="Limpar" class="btn">
            </div>
        </div>
    </fieldset>
    {% endif %}

</form>
{% endblock content %}